a {
    color: inherit;
    text-decoration: inherit;
}

* {
    box-sizing: border-box;
}

footer i.icon-npm {
    background: #fff;
    color: #CC3534;
}

i.filled,
footer i.icon-discord {
    position: relative;
    bottom: -0.05em;
    font-size: 1.25em;
    z-index: 1;
}
i.filled:after,
footer i.icon-discord:after {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    z-index: -1;
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    background: white;
}
i.filled:after {
    width: 80%;
    height: 80%;
    top: 2px;
    left: 2px;
}

i.icon-discord.filled:after {
    height: 70%;
}

.hero-figure a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.hero-figure a:after {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    z-index: 10;
    font-family: 'icomoon';
    content: "\ea1c";
    display: block;
    width: 80px;
    height: 80px;
    padding: 25px 30px;
    font-size: 24px;
    color: #6163FF;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
}

.featured-games {
    margin: 64px;
    text-align: center;
}

.featured-games i {
    color: #aaa;
    margin: 16px;
    font-size: 45px;
    display: inline-block;
}

.featured-games i.supported {
    color: #aaa;
}

.featured-games i.icon-csgo {
    font-size: 60px;
    position: relative;
    top: 5px;
}

.featured-games.hoverable i {
    color: #555;
    font-size: 64px;
    transition: all 0.3s ease-in-out;
}
.featured-games.hoverable i.supported {
    color: #fff;
    cursor: pointer;
}
.featured-games.hoverable i.supported:hover {
    color: #fff;
}

.footer-copyright a {
    color: inherit !important;
}
.footer-copyright a:hover {
    color: #fff !important;
}
